body{
    font-family:Comic Sans MS;
    font-style: normal;
    font-size: 16px;
    line-height: 1.2;
    font-weight: normal;
    color: #000000;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
    border: 1px solid #E7D5C0;
    margin:20px auto;
    padding: .1em .5em;
    max-width: 600px;
    max-height: 300px;
}
table tr td{
    text-align:left;
    width: 20px;
}
table {
    counter-reset: rowNumber;
}

table tbody tr:nth-child(n+3) {
    counter-increment: rowNumber;
}

table tr td:first-child::before {
    content: counter(rowNumber);
    min-width: 1em;
    margin-right: 0.5em;
}
#first-table{
    min-width: 850px !important
}
input {
    width: 80%;
    text-align: center;
    border: 1px solid  rgb(255, 243, 230);
}
a {
    color: #888888;
    text-decoration: none;
}
a:hover, a:focus {
    opacity: .65;
}
.weight {
    width: 80%;
    text-align: center;
    border: 1px solid rgb(255, 243, 230);
}

.note_input{
    width: 35%;
}
#calculate-first-table{
    background-color: #8a8a8a;
    color: white;
    padding: 15px 32px;
    margin-left: 45%;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}
.calculate_w1 {
    background-color: #8a8a8a;
    color: white;
    padding: 15px 32px;
    margin-left:45%;
    text-align: center;
    display: inline-block;
    font-size: 20px;
}
buttom:hover, buttom:focus {
    opacity: .65;
}
.test-cases {
    margin-left:30%;
    margin-top: 2%;
    text-align: center;
    display: inline-block;
    font-size: 24px
}
.after_table_w3{
    margin-left: 30%;
}
.weight-w3 {
    text-align: center;
    width: 10%;
}
.weight-w31 {
    text-align: center;
    width: 10%;
}
.scale4_in_w2 {
    margin-top: 1%;
    text-align: center;
    width: 95%;
}
.scale4_in_w3 {
    text-align: center;
    width: 10%;
}
.scale4 {
    text-align: center;
    margin-left:40%;
    width: 20%;
}
textarea{
    margin-top: 1%;
    text-align: center;
    margin-left:30%;
    width: 40%;
    height: 45px;

}
.link-to-old-reports{
    text-align: center;
}
.criteria{
    width: 80%;
    text-align: center;
    border: 1px solid rgb(255, 243, 230);
}
.input_criteria{
    justify-content:space-between;
    display: flex;
}
.input_name_expert{
    width: 55%;
}
.expert-first.weight{
    width: 55%;
}
.button_expert{
    width: 20px; /* Ширина кнопки */
    height: 20px; /* Высота кнопки */
    border: none; /* Убираем рамку */
    background-color: grey;
    color: white;
}
.expert{
    width: 50%;
}
.experts{
    width: 45%;
}
.delete_creation_button{
    border-color: white;
}
.final_weight{
    text-align: center;
}
.number_weight{
    text-align: center;
}